[Unit]
Description=WCSBell Daemon
After=multi-user.target

[Service]
Environment=CONFIG_FILE=.config/wcsbell/config.csv
Environment=SOUND_DIR=.config/wcsbell/sounds/
ExecStart=%h/.local/bin/wcsbell

[Install]
WantedBy=default.target

