[Unit]
Description=WCSBell Daemon
After=multi-user.target

[Service]
Environment=CONFIG_FILE=/etc/wcsbell/config.csv
ExecStart=/usr/local/bin/wcsbell

[Install]
WantedBy=default.target

